# ==============================
# Server
# ==============================
PORT=3000
SERVER_URI="http://localhost:3000"
NODE_ENV="dev"

# ==============================
# Database
# ==============================
MONGODB_URI="mongodb://localhost:27017/social-media-app"

# ==============================
# JWT Secrets
# ==============================
JWT_USER_ACCESS_SECRET=""
JWT_USER_REFRESH_SECRET=""
JWT_ADMIN_ACCESS_SECRET=""
JWT_ADMIN_REFRESH_SECRET=""

ACCESS_EXPIRY="15m"
REFRESH_EXPIRY="7d"
APP_NAME="social-media-app"

# ==============================
# Security
# ==============================
SALT_ROUND=10

# ==============================
# Email (Google OAuth + Gmail App Password)
# ==============================
GOOGLE_APP_EMAIL=""
GOOGLE_APP_PASSWORD=""
GOOGLE_CLIENT_ID=""
EMAIL_SENDER_NAME="Social Media"

# ==============================
# Redis
# ==============================
REDIS_URL="redis://localhost:6379"

# ==============================
# Cloudinary
# ==============================
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
